.snake-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(30, 30px);
  grid-template-rows: repeat(20, 30px);
  gap: 1px;
}

h1,
h2 {
  color: black;
}

#go {
  font-size: 33px;
  color: black;
}

input {
  padding: 10px 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

button {
  padding: 11px 5px;
  margin-left: 5px;
  border-radius: 15px;
  color: rgb(10, 10, 10);
  font-weight: 600;
  border: none;
  background: linear-gradient(to right, #ece9e6, #ffffff);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: greenyellow;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.snake {
  background-color: green;
  
}

.food {
  background-color: red;
}

.high-scores {
  margin-top: 20px;
}

.high-scores ul {
  list-style-type: none;
  padding: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.high-scores li {
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  
}
